source "http://gemcutter.org"

gem "rails", "<%= ActiveSupport::VERSION::STRING %>"
gem "webrat", "0.7"
gem "sqlite3-ruby", :require => "sqlite3"

if RUBY_VERSION < '1.9'
  gem "ruby-debug", ">= 0.10.3"
end