source "http://gemcutter.org"

gem "rails", "<%= ActiveSupport::VERSION::STRING %>"
gem "capybara", "0.3.5"
gem "sqlite3-ruby", :require => "sqlite3"

if RUBY_VERSION < '1.9'
  gem "ruby-debug", ">= 0.10.3"
end

<% if rspec? %>
gem "rspec-rails", ">= 2.0.0.beta.2", :group => :test
<% end %>